* {
    box-sizing: border-box;
    font-family: "Verdana", "Arial";
    color: #3f2518;
}

body {
    max-width: 1024px;
    margin: auto;
    background-color: #205991;
}

h1 {
    text-align: center;
    color: #fbfcfc;
    text-decoration: underline solid #f0b965;
}

button {
    border: none;
    text-align: center;
    background-color: #5086af;
    color: #3e251c;
    font-size: 16px;
}

button:hover {
    background-color: #3e251c;
    color: #5086af;
}

select {
    background-color: #b2d6cf;
    border: 3px solid #b64d45;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.indented-container {
    padding: 0 0 0 30px;
}

.indented-container h3 {
    padding: 0 5px;
    margin: 10px 0 0 0;
}

.indented-container select {
    padding: 0 auto;
}

.grid-container {
    padding: 3px;
}

.grid-container > * {
    width: 100%;
    padding: 15px;
}

.generator-container {
    margin: 0;
}

.generator-container button {
    width: 100%;
    padding: 5px;
    margin: 3px 0;
}

.filters {
    border: 3px solid #f0b865;
}

.generator-options ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#name-display {
    font: 20px arial, sans-serif;
    text-align: center;
    border: 2px solid black;
    resize: none;
}

#copy-button {
    font: 20px arial, sans-serif;
}

[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
}

@media only screen and (min-width: 768px) {
    select {
        margin: 5px 0;
    }

    .row {
        display: flex;
        align-items: center
    }

    .grid-container {
        display: grid;
        grid-template-columns: min-content auto;
    }

    #copy-button {
        padding: 13px;
    }

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}